<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Elia Ramadhini</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
    	<div class="top-detail">
    		<h1 class="title">ELIA'S PAGE</h1>
    		<p class="description">
    			Hay, I'm elia, I'm in Backend Glints Academy batch # 9. This is my 3rd challenge.
    			<br>
    			for Glints and Binar, please help me make my dreams come true...
    		</p>
    		<a class="index-button" href="/" >< BACK</a>
    	</div>
    	<div class="top-image-1">
    		<img src="/images/elia.jpg">
    	</div>
	</div>
  </body>
</html>
