<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a class="header-logo" href="/" >
        <img src="/images/glints.png">
      </a>
    </header>
    <div class="top-wrapper">
      <div class="top-detail">
        <p class="description">
          let's see ..
          <br>
          there is a student from Glints Academy # 9
        </p>
        <a class="index-button" href="/elia" >See</a>
      </div>
      <div class="top-image">
        <img src="/images/top.png">
      </div>
    </div>
  </body>
</html>
